# Ignore backup directory and all its contents
backup/

# Ignore cursor rules
.cursorrules

# ingore test results from test-results directory
test-results/

# ignore docs directory
docs/

# ignore node_modules directory
node_modules/

# ignore .vscode directory
.vscode/

# Ignore Playwright reports
playwright-report/

# Ignore Windsurf deployment config
windsurf_deployment.yaml

# Ignore dist folder
dist/
